@model GameReview2.Models.CriticReview

<div>
   <dl class="dl-horizontal text-left">
        <dd>
            @*@foreach (var item in Model)
            {
                @item.CriticReviewId.Count()
            }*@
        </dd>
    </dl>
</div>
